/* =================================
   WRAPPER
==================================== */

body {
   background-color: var(--app-body-bg-color);
}

#wrapper {
   position: relative;
   z-index: var(--app-z-2);

   min-width: 320px;
   min-height: 100lvh;

   height: auto;
}

/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */