/* =================================
   GridChess Styles
==================================== */

#backdrop {
   z-index: var(--app-z-1);

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   min-height: 100lvh;

   width: 100%;
   height: auto;
}

#chessboard {
   min-height: 100lvh;
   position: fixed;
   display: block;
   top: 0;
   left: 0;
}

#backdropGradient {
   min-height: 100lvh;
   width: 100%;
   position: fixed;
   display: block;
   top: 0;
   left: 0;
   background: radial-gradient(circle at center 50%, #00000000, #000000 180%);
}

.chessItem {
   transition: opacity 1000ms ease-in-out;
}

.img-pattern {
   mix-blend-mode: soft-light;
   opacity: 0.1;
}

.img-pattern-stoke {
   mix-blend-mode: soft-light;
   opacity: 0.1;
}


/* =================================
   MEDIA
==================================== */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */